/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# PhpStorm
.idea/

# Docker (nginx)
/public/access-nginx.log
/public/error-nginx.log

# Supervisor
/public/worker.log
